.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px ;
  min-height: 293px;
}

.header__logo {
  display: block;
}

.header__logo-img {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  list-style: circle;
}

.header__links-list-item_active {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.header__address {
  max-width: 240px;
}

.header__address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__address p {
  margin: 0;
}

.cover {
  position: relative;
  min-height: 757px;
  min-width: 1100px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 165px 50px 106px;
  z-index: 2;
}

.aligned-text {
  display: block;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  text-transform: uppercase;
}

.aligned-text_left {
  letter-spacing: 30px;
  text-align: left;
}

.aligned-text_center {
  padding-top: 16px;
  padding-left: 30px;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 18px;
  letter-spacing: 30px;
  text-align: right;
}

.aligned-text_right_o {
  letter-spacing: 0;
}

.cover__description-text {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  padding: 12px 0 11px 0;
  z-index: 2;
}

.bet-button {
  z-index: 2;
  padding: 12px 32px 11px 31px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.description {
  display: flex;
  gap: 107px;
  margin: 0 50px 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  position: relative;
}

.lots {
  padding: 187px 24px 120px;
}

.card {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card_type_content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  text-transform: uppercase;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card__heading {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  
  
}

.lots__look-more-link{
  font-family: 'Raleway' sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  display: inline-block;
  padding: 30px 0 2px 40px;
}

.about {
  margin: 0 24px 173px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 72px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin: 35px 0 0 47px;
}

.about__logo-image {
  padding-top: 64px;
  padding-bottom: 62px;
  color: #ffffff;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  text-transform: uppercase;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 101px;
  padding: 139px 0 13px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  height: 312px;
}

.about__text p {
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__menu li {
  margin-bottom: 5px;
}

.footer__menu-list-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-align: center;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__address {
  max-width: 270px;
}

.footer__address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
